.jumbotron {
  min-height:500px;
  background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  position:relative;
  
}
.jumbotron h1 {
  	color:white;
 	position: relative;
 	text-align: center;
 	padding-top: 200px;
}

