// SCSS file for Bootstrap elements Jumbotron and Carousel

//jumbotron

@mixin bginfo($url, $repeat, $position, $size, $attachment){
	background: $url;
	background-repeat: $repeat;
	background-position: $position;
	background-size: $size;
	background-attachment: $attachment;
}

@mixin textdetails($colour, $positioning, $alignment){
	color: $colour;
	position: $positioning;
	text-align: $alignment;
}

.jumbotron {
  min-height:500px;
  
  @include bginfo(url('../img/background.jpg'), no-repeat, center, cover, fixed);

  position:relative;
  
}
.jumbotron h1 {
  	
  	@include textdetails(white, relative, center);
  	letter-spacing:0px;
 	padding-top: 150px;
	font-size: 10vh;
}
.jumbotron p {
	
	@include textdetails(white, relative, center);
  	
}


// carousel

$font-colour: white;


#carousel_feedback{
    background: url('../img/programming.jpg') center center no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    
}
#carousel_card {
  margin: 0 auto;
  background: rgba(0,0,0,0.8);
}
#carousel_heading{
    text-align: center;
    color: white;
}
.card{ 
    .carousel-item {
        height: 200px;
    }
    .carousel-caption {
        padding: 0;
        right: 0;
        left: 0;
        color: $font-colour;
       
    }
}
// nesting
.card .carousel-caption{
    h3 {
        color: $font-colour;
    }
    p {
        line-height: 30px;
    }
    .col-sm-3 {
        display: flex;
        align-items: center;
        top: 50%;
        height:100%;

    }
    .col-sm-9 {
        text-align: left;
    }
}

.navi a {
    text-decoration:none;
}
a > .ico {
    background-color: grey;
    padding: 10px;
    
}
a:hover > .ico {
    background-color: #666;
}
