// media queries

@media only screen and (max-width: 960px){
    .jumbotron h1{
    	font-size:8vh;

    }
    .card .carousel-caption .col-sm-3{
        display: none;
    }
    .card .carousel-item{
        height: 250px;
    }
}
