$colour: #222;

#footer-main{
    background: $colour;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}

img{
	max-height:30%;
	max-width:100%
}

.section-content {
    padding: 5rem 0;
}

